<h1 class="display-4">Welcome to Articlebase</h1>
<p class="mb-4">this is sails js for articles</p>
<a href="/article/list" class="btn btn-light">View Articles</a>
<a href="/article/add" class="btn btn-light">Add Article</a>
